html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*            background: -moz-linear-gradient(top, #272727, #080a97);
                background: -webkit-linear-gradient(top, #272727, #080a97);
                background: -o-linear-gradient(top, #272727, #080a97);
                background: -ms-linear-gradient(top, #272727, #080a97);
                background: linear-gradient(top, #272727, #080a97);
    */        }

#glCanvas {
    border: solid 1px red;
    /*background-image: url(ziffernblatt.jpg);*/
    background: #ccc;
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
}
#time {
    margin: 10px;
}

.container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    width: 490px;
    font-size: 14pt;
    font-family: Arial, sans-serif;
}