html {
            height: 100%;
        }
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-image: url(zblatt.png);
            background-size: 512px;
        }

        #glCanvas {
            border: solid 1px black;
        }
        #time {
            margin: 10px;
        }

        .container {
            margin: 5px;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.5);
            width: 490px;
            font-size: 14pt;
            font-family: Arial, sans-serif;
        }