html {
    height: 100%;
    background-color: #000000;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#glCanvas {
    float:left;
    border: solid 1px black;
}
#glCanvas:hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#glCanvas:focus {
    outline:none;
}

#time {
    margin: 10px;
}

.container {
    /*float:left;*/
   	position:absolute;
   	height:auto;
    width:100%;
    bottom:0;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(150, 150, 150, 1);
    /*width: 490px;*/
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight:bold;
}