#header {
	text-align:right;
	min-width:100%;
	height:150px;
	background:green;
}

#navigation {
	position: absolute;
	text-align:center;
	width: 200px;
	height: calc(100% - 200px);
	background:blue;
}

#content{
	margin: 2em;
	margin-left: 4em;
	margin-right: 4em;
	background-color:transparent;
}

#footer {
	position:fixed;
	bottom:0;
	height:50px;
	min-width:100%;
	background:green;
}