/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color:#ccc;
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	position:relative;
	min-height:100%;
	min-width:100%;
	margin:0;
	padding:0;	
} 

body {
	/*min-height:100%;*/
	/*min-width:100%;*/
	margin:0;
	padding:0;
}

a:link {color:#ccc;}      /* unvisited link */
a:visited {color:#c8141d;}  /* visited link */
a:hover {color:#FFF;}  /* mouse over link */
a:active {color:#c8141d;}  /* selected link */

table {
	/*margin:10em;*/
}

th {
	background-color:#ccc;
}

td {
	padding-left:1em;	
	padding-right:1em;	
}

#header {
	text-align:right;
	min-width:100%;
	height:90px;
	background:#7cFc00;
	background-image: url(../img/header_bg.jpg);
	border:2px dotted green;
}



#navigation {
	position: absolute;
	text-align:center;
	width: 170px;
	height:  100% ;
	height: -o-calc(100% - 230px); /* opera */
	height: 100% ; /* google, safari */
	height: -moz-calc(100% - 230px); /* firefox */
	margin:0;
	padding:0;
	background:#0021C7;
	background-repeat:repeat-y;
	overflow: none;
}



#contentwrapper {
	position: absolute;
	margin-left: 170px;

	height: calc(100% - 40px);
	height: -o-calc(100% - 40px); /* opera */
	height: -webkit-calc(100% - 40px); /* google, safari */
	height: -moz-calc(100% - 40px); /* firefox */

	width: calc(100% - 170px);
	width: -o-calc(100% - 170px); /* opera */
	width: -webkit-calc(100% - 170px); /* google, safari */
	width: -moz-calc(100% - 170px); /* firefox */
	background-image: url(../img/header_bg.jpg);
	background-repeat:repeat;

	color:#FFFFFF;
}

#content{
	margin: 2em;
	margin-left: 3em;
	margin-right: 2em;
	background-color:transparent;
}


#contentgradient{
	position: absolute;
	height: 100%;
	width: 100%;
	background:#FF9900;
}

#footer {
	position:fixed;
	bottom:0;
	height:40px;
	
	width: calc(100% - 170px);
	width: -o-calc(100% - 170px); /* opera */
	width: -webkit-calc(100% - 170px); /* google, safari */
	width: -moz-calc(100% - 170px); /* firefox */
	background:#C70067;
	background-image: url(../img/trenner.jpg);
}

.MButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9900), color-stop(1, #ff5100) );
	background:-moz-linear-gradient( center top, #ff9900 5%, #ff5100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ff5100');
	background-color:#ff9900;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#0021c7;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
.MButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5100), color-stop(1, #ff9900) );
	background:-moz-linear-gradient( center top, #ff5100 5%, #ff9900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5100', endColorstr='#ff9900');
	background-color:#ff5100;
}.MButton:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */



.Button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
	background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
	background-color:#ff5bb0;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ee1eb5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:50px;
	line-height:50px;
	width:130px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #c70067;
}
.Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
	background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
	background-color:#ef027d;
}.Button:active {
	position:relative;
	top:1px;
}

/* This button was generated using CSSButtonGenerator.com */


.inlineButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66ff00), color-stop(1, #336600) );
	background:-moz-linear-gradient( center top, #66ff00 5%, #336600 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ff00', endColorstr='#336600');
	background-color:#66ff00;
}

.inlineButton:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
